<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FreeGo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>015D6F15426CBC6D34670DA6939526634D8F778B</string>
				<key>dateExpires</key>
				<string>10/12/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>015D6F15426CBC6D34670DA6939526634D8F778B</string>
						<key>dateExpires</key>
						<string>10/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D9N3B78VP</string>
						<key>name</key>
						<string>Tarun Nagar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.180</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3D9N3B78VP.com.org.freego</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3D9N3B78VP</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>3D9N3B78VP.com.org.freego</string>
				</array>
			</dict>
			<key>name</key>
			<string>FreeGo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e8dfe1c0-c8db-40f3-b7b9-3e53a3a9b93e</string>
				<key>dateExpires</key>
				<string>10/12/22</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.org.freego</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3D9N3B78VP</string>
				<key>name</key>
				<string>Tarun Nagar</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
